<tbody>
<h1>注文一覧</h1>
<% sum = 0 %>
<% if @cart.blank? %>
<%= "カートは空です" %><br>
<% else %>
<% @cart.each do |item| %>
<tr>
<td>商品番号: <%= item.id %></td>
<td>価格: <%= item.price %>円</td><br>
<% sum += item.price %>
<% end %><br>
<!-- 合計金額: <%= sum %>円<br> -->

</tr>
</tbody>
<br>
<% end %>
<% if session[:cart] != nil %>
<%= form_tag charges_path do %>
    <article>
        <% if flash[:error].present? %>
            <div id="error_explanation" >
                <p><%= flash[:error] %></p>
            </div>
        <% end %>
        <label class="amount">
            <span>合計金額: <%= sum %>円</span>
        </label>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description='商品のご購入'
            data-amount="<%= sum %>"
            data-currency="jpy"
            data-locale="auto"></script>
<% end %>
<!-- 次回エラーが発生したらform_tag submit で実行 -->
<%= button_to "Clear Cart", cart_path(session[:cart]), method: :delete%><br>
<% end %>
<%= link_to 'Check Products', root_path %>
