<tbody>
<h1>カートの中身</h1>
<% sum = 0 %>
<% if @cart.blank? %>
<%= "カートは空です" %><br>
<% else %>
<% @cart.each do |item| %>
<tr>
<td>商品番号: <%= item.id %></td>
<td>価格: <%= item.price %>円</td><br>
<% sum += item.price %>
<% end %><br>
合計金額: <%= sum %>円

</tr>
</tbody>
<br>
<% end %>


<%= link_to 'Check Products', root_path %>
